<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.driverlo.www.driverlo_customer">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="in.driverlo.www.driverlo_customer.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.driverlo.www.driverlo_customer.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- CALL PHONE -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- READ CONTATCS -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- GOOGLE MAP AND TRACKING -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/driverlo_app_square_logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/MyAppTheme">

        <activity
            android:name=".Activities.FlashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity

            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />

        <activity

            android:name=".Activities.CompleteActivity"
            android:label="@string/title_activity_full"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />

        <activity

            android:name=".Activities.SignupActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />

        <activity

            android:name=".Activities.OtpVerification"
            android:label="@string/title_activity_otp_verification"
            android:screenOrientation="portrait" />

        <service

            android:name=".Services.FetchAddressIntentService"
            android:exported="false" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <!-- Google Maps Fragment API Key Data -->

        <meta-data

            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data

            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity

            android:name=".FragmentActivity.MapsActivity"
            android:label="@string/title_activity_maps"></activity>

    </application>

</manifest>
